.form-tarefa {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgb(0, 0, 0);
    margin-bottom: 30px;
    justify-content: center;
    gap: 15px;
    display: flex;
  }
  
  .form-tarefa input,
  .form-tarefa textarea {
    width: 800px;
    padding: 10px;
    margin: 10px 0;
    border-radius: 5px;
    border: 5px solid #000000;
    font-size: 1rem;
    
    
  }
  
  .form-tarefa button {
    background-color:#000000f5;   
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1rem;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-tarefa button:hover {
    background-color: #516388;
  }

  
  